* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("bg.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsorit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
}


#fp-nav.fp-right {
    right: 17px;
}

#fp-nav.fp-right ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    max-height: 100%;
    overflow: auto;
    padding-right: 15px;
}

.slide img {
    height: auto;
    width: auto;
    position: fixed;
}

.slide {
    font-size: 40px;
}

#etusivu h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 100px;
    padding-bottom: 20px;
}

#etusivu p {
    font-size: 20px;
}

#lokaatio, #somet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px;
    align-items: flex-end;
}

#somet a {
    color: #fff;
    font-size: 20px;
}

#somet ul li {
    display: block;
}

#somet h1 {
    font-size: 80px;
    margin-bottom: 5px;
}

#somet p {
    font-size: 20px;
}
#linkit p {
    font-size: 20px;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}
.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 5.0);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.event .event-left {
    background-color: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

@media screen and (max-device-width:600px), screen and (max-width:600px) {
    #fp-nav.fp-right {
        font-size: 40px;
    }
    #etusivu h1 {
        font-size: 120px;
    }
    #etusivu p {
        font-size: 33px;
    }
    #tapahtumat h1 {
        font-size: 120px;
    }
    #tapahtumat p {
        font-size: 33px;
    }
    #yhteystiedot p {
        font-size: 33px;
    }
    #yhteystiedot h1 {
        font-size: 120px;
    }
    #yhteydtiedot a {
        font-size: 33px;
    }
     .event {
        flex-direction: column;
    }
    .event .event-left {
        padding: 0;
        border-radius: 8px 8px 0 0;
    }
    .event .event-left .event-date .date, .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;
    }
    .event .event-left .event-date {
        padding: 10px 0;
    }
}
